* {
    box-sizing: border-box;
}

body {
  margin: 1%;
}

.welcome {
  max-width: 90%;
  margin-left: 5%;
}

.welcome_pic {
  max-width: 100px;
  height: auto;
  margin: 20px;
  border-radius: 50%;
}

#requests {
  overflow-x: auto;
  border-collapse: collapse;
  margin: 0 auto;
  width: 85%;
  table-layout: fixed;
}

#requests caption {
  margin-top: 15px;
  margin-bottom: 20px;
}

#col1 {
  width: 15%;
}

#col2 {
  width: 20%;
}

#col3 {
  width: 5%;
}

#col4 {
  width: 20%;
}

#col5 {
  width: 40%;
}

#requests th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #5F9EA0;
  color: white;
}

#requests tr:nth-child(even) {
  background-color: #cfe2e2;
}

#requests td {
  text-align: center;
  padding: 10px 15px;
}
